* {
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    width: 270px;
    position: relative;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
    user-select: none;
}

.text-input {
    padding: 0.8rem;
    width: 270px;
    height: 45px;
    border: 1px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.label::before {
    content: " ";
    height: 5px;
    position: absolute;
    left: 0;
    top: 10;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #38f2ff;
}

.text-input:focus + .label {
    top: -18px;
    color: #38f2ff;
    font-size: 15px;
    text-shadow: 1.5px 1px 2px rgba(8, 8, 8, 0.493);
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.text-input:not(:placeholder-shown) + .label {
    top: -20px;
    color: #38f2ff;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 300px;
    background-color: #272530;
    margin: auto;
    border-radius: 10px;
    border: solid 1px #38f2ff;
    padding: 20px;
    margin-bottom: 50px;
}

body {
    padding: 40px;
    background-color: #272530;
}

h1 {
    margin: 0;
    padding: 0;
    position: relative;
    top: -30px;
    font-size: 30px;
    color: #fff;
}

.input-submit {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #38f2ff;
    background-color: #272530;
    color: #fff;
    cursor: pointer;
}

.input-submit:active {
    background-color: #38f2ff;
    color: #272530;
}

.loader {
    display: none;
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #38f2ff;
    background: -moz-linear-gradient(
        left,
        #38f2ff 10%,
        rgba(56, 242, 255, 0) 42%
    );
    background: -webkit-linear-gradient(
        left,
        #38f2ff 10%,
        rgba(56, 242, 255, 0) 42%
    );
    background: -o-linear-gradient(
        left,
        #38f2ff 10%,
        rgba(56, 242, 255, 0) 42%
    );
    background: -ms-linear-gradient(
        left,
        #38f2ff 10%,
        rgba(56, 242, 255, 0) 42%
    );
    background: linear-gradient(
        to right,
        #38f2ff 10%,
        rgba(56, 242, 255, 0) 42%
    );
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #38f2ff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.loader:after {
    background: #272530;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#song-div {
    visibility: none;
    width: 520px;
    height: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #38f2ff;
    background-color: #272530;
}

pre {
    color: #fff;
}
